# Node
node_modules/
dist/
coverage/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
